@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mat Chat</h1>
    <h3>For grapplers, by grapplers</h3>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/XcI8ct3Ifik">
    </iframe>
    <h2>About MatChat: </h2>
    <p>Mat Chat was designed to give grappling schools a way to communicate effectively while also giving students a way to track their progress.</p>
    <p>With Mat Chat you can: </p>
    <ul>
        <li>Track attendance</li>
        <li>Chat with your team</li>
        <li>Track competition performance</li>
    </ul>
</div>


