@{
    ViewData["Title"] = "Data";
}

<!doctype html>
<link rel="stylesheet" href="css/style.css">
<!-- Data-->
<html>
<head>
    <title>MatChat: Data</title>

</head>

<body>
    <div class="container">
        <header>MatChat</header>
        <p class="center">For grapplers, by grapplers</p>
        <br />

        <p>What kind of data are you looking for?</p>
        <form action="/action_page.php">
            <input type="submit" value="Students"><br /> <br />
            <input type="submit" value="Classes"><br /> <br />
            <input type="submit" value="Performance"><br /> <br />
        </form>

    </div>
</body>


</html>