@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Mat Chat</h1>
    <h4>For grapplers, by grapplers</h4>

    <h2>Please Log in</h2>
    <form action="/action_page.php">
        <label for="login">Login Name:</label>
        <input type="text" id="" name="f"><br><br>
        <label for="Password">Password:</label>
        <input type="password" id="password" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
 
    <br />
    <a href="/newUser"><h5>New User? Click here to register</h5></a>
</div>