
@{
    ViewData["Title"] = "Schedule";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1 class="entry-title" itemprop="headline">Schedule</h1>


<table class=" table table-striped">
    <tbody>
        <tr>
            <td>
                <h2>All classes are open to all students and skill levels</h2>
                <h2>Monday</h2>
                <h4>Adult BJJ</h4>
                <p>10:00 am – 1:00 pm</p>
                <h4>Youth (ages 4-7) – Gi Class</h4>
                <p>4:45 pm – 5:30 pm</p>
                <h4>Youth (ages 8-11) – Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>&nbsp;Pre-Teen/Teen – Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Fundamentals BJJ</h4>
                <p>6:30 pm – 8:30 pm</p>
            </td>
        </tr>
        <tr class="success">
            <td>
                <h2>Tuesday</h2>
                <h4>Youth Training (ages 4 -7) – Gi Class</h4>
                <p>4:45 pm – 5:30 pm</p>
                <h4>Youth Training (ages 8-11) – Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Pre-Teen/Teen – Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Advanced (Open to all belt levels with priority on upper belts)</h4>
                <p>6:30 pm – 8:30 pm</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Wednesday</h2>
                <h4>Adult BJJ</h4>
                <p>10:00 am – 1:00 pm</p>
                <h4>Youth (ages 4-7) – NO-Gi Class</h4>
                <p>4:45 pm – 5:30 pm</p>
                <h4>Youth (ages 8-11)- NO- Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Pre-Teen/Teen – NO-Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>All Levels (No Gi)</h4>
                <p>6:30 pm – 8:30 pm</p>
            </td>
        </tr>
        <tr class="success">
            <td>
                <h2>Thursday</h2>
                <h4>Youth (ages 4-7) – NO-Gi Class</h4>
                <p>4:45 pm – 5:30 pm</p>
                <h4>Youth (ages 8-11) – NO-Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Pre-Teen/Teen – NO-Gi Class</h4>
                <p>5:30 pm – 6:15 pm</p>
                <h4>Takedowns (Focus on Judo)</h4>
                <p>6:30 pm – 8:30 pm</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Friday</h2>
                <h4>Adult BJJ</h4>
                <p>10:00 am – 1:00 pm</p>
                <h4>Women’s Only BJJ</h4>
                <p>5:00 pm – &nbsp;6:00pm</p>
                <h4>Competition Training (Open to all skill Levels)</h4>
                <p>6:00 pm – 8:00 pm</p>
            </td>
        </tr>
        <tr class="success">
            <td>
                <h2>Saturday</h2>
                <h4>Youth Bjj Self Defense (ages 4-7)</h4>
                <p>9:00 am – 9:40 am</p>
                <h4>Youth BJJ Self Defense (ages 8-11)</h4>
                <p>9:40 am – 10:20 am</p>
                <h4>Pre-Teen/Teen BJJ Self Defense</h4>
                <p>10:20 am – 11:00 am</p>
                <h4>Adult BJJ</h4>
                <p>11:00 am – 1:00 pm</p>
            </td>
        </tr>
    </tbody>
</table>

